<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin | Login</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">{% block complain %}
            <div class="auto-form-wrapper">
{#                <div class="container content-section">#}
{#                    <form class='jumbotron form-control' method="POST">#}
{#                        <fieldset class="form-group p-2">#}
{#                            {% csrf_token %}#}
{#                            {{ form }}#}
{#                        </fieldset>#}
{#                        <div class="form-group">#}
{#                            <input type="submit" value="Login" class="btn btn-outline-info ml-2">#}
{#                        </div>#}
{#                        <div class="border-top pt-3">#}
{#                            <a href="">Register</a> <a href="">Can't Remember Password?</a>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
              <form method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label class="label">Email Address</label>
{#                    {% for field in form %}#}
                  <div class="input-group">
{#                    <input type="text" class="form-control" placeholder="Username">#}
                      {{ form.email }}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
{#                    <input type="password" class="form-control" placeholder="*********">#}
                      {{ form.password }}
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
{#                {% endfor %}#}
                  <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
              </form>
            <form class="form-group" action="{% url 'complain' %}">
                <button class="btn btn-danger btn-block submit-btn" type="submit">Complain box</button>
            </form>
            </div>
              {% endblock %}
            <p class="footer-text text-center">copyright © 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
</body>

</html>
